<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js">
    </script>
</head>
<body>

<div id="container"></div>
<button id="add_input">Add Me Braaah</button>
<button id="send_input">Send me Braaah</button>


<script type="text/template" id="metadata_template">
    <div>
        <% _.each( inputs, function( input ){ %>

        <div>
            <select class='formInputs' data-id='<%=input.id%>' data-class='variable'>
                <% _.each( variables, function( variable ){ %>
                <option value="<%=variable.name%>"><%=variable.name%></option>
                <% }); %>
            </select>
            <select class='formInputs' data-id='<%=input.id%>' data-class='sign'>
                <% _.each( signs, function( sign ){ %>
                <option value="<%=sign.name %> "><%=sign.name%></option>
                <% }); %>
            </select>
            <input class='formInputs' data-id='<%=input.id%>' data-class='value' placeholder="I am an input ">

            <div>

                <% }); %>
            </div>
        </div>
    </div>
</script>

<script>


        // Grab the HTML out of our template tag and pre-compile it.
        var template = _.template(
            $( "#metadata_template" ).html()
        );
        // Define our render data (to be put into the "rc" variable).

        var templateData = {

            inputs : [
                // {name: "input1" , id: '1', variable : '', sign : '', value: ''},
                // {name: "input2"}
            ],

            variables : [
                {name : "Category X"},
                {name : "Category Y"}
            ],

            signs : [
                {name : "EQ"},
                {name : "LE"},
                {name : "GE"},
                {name : "GT"},
                {name : "LT"}
            ]

        };

        $("#add_input").click(function(){

            const length = templateData.inputs.length;
            const number = length;
            const index = number.toString();
            const newIndex = 'input' + index;
            const newInput = {name: newIndex , id: number, variable : '', sign : '', value: ''};

            templateData.inputs.push(newInput);
            $("#container").html(template(templateData));

            refresh()

        });

        /*
        $("send_input").click(function(){
            $.ajax({
                contentType: 'application/json',
                data:


            });

        }); */

        function refresh(){
            $(".formInputs").change(function(e){

            const id = $(e.target).attr('data-id');
            const variable  = $(e.target).attr('data-class');
            const value = $(e.target).val();

            templateData.inputs[id][variable] = value;
            });
        }

        $("#container").html(template(templateData));

        refresh()

</script>


</body>
</html>