/*
 * This is the CSS stylesheet for the demo people application
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300');


/* To use the above fonts:
* font-family: 'Open Sans', sans-serif;
* font-family: 'Open Sans Condensed', sans-serif;
*/

body, .ui-btn {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, .ui.header:not(.popup .){
    font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3, h4, .ui.header.normalised-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: inherit;
}

.ui.text.container, p{
    font-family: 'Open Sans', sans-serif;
}

.sidebar.labeled.icon.menu a.blue-bg{
    background-color: #2185d0;
}

#grid-body{
    background-image: url('../img/dark_geometric/dark_geometric.png');

}
.editor {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-bottom: 5px;
}

dt { margin-top: 1em; }
    dt:first-child { margin-top: 0; }
    dd { width: 25% }

label {
    display: inline-block;
    margin-bottom: 5px;
}

button {
    padding: 5px;
    margin-right: 5px;
    border-radius: 3px;
    background-color: #eee;
}

.people {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.projects {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.analyses {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.samples {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.results {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.sample-search-results {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.ui.table thead th{
  font-weight: 300;
}

/* light blue when a row is selected */
table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected{
  background-color: #B0BED9;
}

.error:not(.DTE_Field .) {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: #fbb;
    visibility: hidden;
}

.mainblock{
    background-color: #fff;
    margin-top:5em;
    margin-bottom:5em;
    border-radius: 8px
}

.visible{
    display: block;
}

.visible-flex{
    display: flex;
}

.hidden{
    display: none;
}

.ui.fluid.image.graph{
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: white;
}

.ui.label{
     background-color:#2185d0!important;
 border-color:#2185d0!important;
 color:#fff!important

}

.sixteen.wide.fluid.column.headerdiv {
    padding-top: 3em;
    padding-bottom: 4em;
}

.sixteen.wide.fluid.column.headerdiv h1,p{
    color: white;
    text-align:center;
}

.sixteen.wide.fluid.column.contentdiv{
    background-color: #F5F5F5;
    border-radius: 8px;
    padding:3em;
}

.sixteen.wide.fluid.column.dashboarddiv{
    padding-bottom:3em;
}

.ui.grid > .column.maindiv{
    padding-bottom: 8em;
}

#select-samples-body{
    width: 100%;
}

.content.tips p{
    color: black;
    text-align: left;
}


#vis {
  display: none;
  padding: 1em;
}

#vis.active {
  animation: scale-display .5s;
  display: box;
}

#vis.out {
  animation: scale-display--reversed .5s;
  animation-fill-mode:forwards;
  display: box;
}

#vis-placeholder {
  display: none;
  padding: 0px;
}

#vis-placeholder img {
   height: 350px;
}

#vis-placeholder.active {
  animation: scale-display .5s;
  display: inline-flex;
}

#vis-placeholder.out {
  animation: scale-display--reversed .5s;
  animation-fill-mode:forwards;
  display: inline-flex;
}

#metadata-filter-error-msg.active {
  animation: scale-display .5s;
  display: inline-flex;
}

#metadata-filter-error-msg.out{
  animation: scale-display--reversed .5s;
  animation-fill-mode:forwards;
  display: inline-flex;
}

#plot-fields-warning-msg.active {
  animation: scale-display .5s;
  display: inline-flex;
}

#plot-fields-warning-msg.out{
  animation: scale-display--reversed .5s;
  animation-fill-mode:forwards;
  display: inline-flex;
}

#plot-fields-error-msg.active {
  animation: scale-display .5s;
  display: inline-flex;
}

#plot-fields-error-msg.out{
  animation: scale-display--reversed .5s;
  animation-fill-mode:forwards;
  display: inline-flex;
}

#plot-fields-success-msg.active {
  animation: scale-display .5s;
  display: inline-flex;
}

#plot-fields-success-msg.out{
  animation: scale-display--reversed .5s;
  animation-fill-mode:forwards;
  display: inline-flex;
}

@keyframes scale-display {
    0% {
      opacity: 0;

    }

    100% {
	  opacity: 1;

	}
}

@keyframes scale-display--reversed {
    0% {
      display: inline-flex;
      opacity: 1;

    }
    99% {
      display: inline-flex;
      opacity: 0;

    }
    100% {
      display: none;
      opacity: 0;

    }
}